body {
    background: linear-gradient(67.08deg, #1E46A3 0%, #000000 48.94%, #C12A23 99.97%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 100vh;
    margin: auto;
}

main {
    text-align: center;
    margin-top: 10%;
}

main > img {
    width: 87.24px;
    height: 62.93px;
}

main h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFCF9;
}

main p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFCF9;
}

button {
    width: 180.98px;
    height: 47px;
    background: #E9E6E3;
    border: 2px solid #1A1A1A;
    border-radius: 5px;
    align-items: center;
    display: flex;
    margin: 30px auto 30px auto;
    cursor: pointer;
}

button img {
    width: 35.56px;
    height: 25.29px;
    margin:0 17px 0 13px ;
}

button p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

@media(max-width: 999px) {
    body {
        width: 100%;
    }
    main > img {
        width: 87.24px;
        height: 62.93px;
    }

    main > p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFCF9;
    }
}